* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2vw;
    background-color: lightseagreen;
    border: 5px solid black;
    padding: 20px 35px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: lightblue;
    color: black;
    border-radius: 10px;
    text-shadow: none;
}

.projects {
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightseagreen;
    border: 5px solid black;
}

.project {
    margin: 20px;
    flex: 1;
}

.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.project-bio {
    padding: 25px;
    line-height: 1.3;
}

.project-name, .project-info {
    text-align: center;
    font-size: 24px;
}

.flex-row h2 {
    font-size: 36px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: lightseagreen;
    border: 5px solid black;
    font-weight: lighter; 
    line-height: 1.5;
}
