* {
    margin-top: 0;
    box-sizing: border-box;
    background-color: lightslategray; 
    font-family:'Times New Roman', Times, serif;
    text-decoration: none; 
    color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    border-bottom: 3px solid;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 15px 0;
}

header a {
    text-align: right;
    text-decoration: none;
    color: black;
}

header nav {
    margin: 15px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.60vw;
}

header nav ul li a:hover {
    background: lightblue;
    color: black;
    border-radius: 10px;
    text-shadow: none;
}

.my-facts {
    display: flex;
    font-size: 24px;
}

.bio {
    float: left;
    padding: 0 25px 0 25px;
}

.my-picture {
    display: flex;
    float: right;
    width: 400px;
    height: 400px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}

.project img {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 35%;
    height: 45%;
}

.project-info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px 10px 25px;
}

.section-title {
    font-size: 40px;
    padding-bottom: 15px;
    text-align: left;
    margin: 0 0 15px 0;
    width: 20%;
}


.project img:hover, .my-info address a:hover {
    align-items: center;
    background: lightblue;
    border-radius: 10px;
    text-shadow: none; 
}

.project-info a:hover {
    align-items: center;
    background: lightseagreen;
    border-radius: 5%;
}

.my-info {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size: 24px;
}

.my-links, .my-links p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px 50px 20px 50px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 28px;
    font-style: italic;
    font-weight: bold; 
    line-height: 1.5;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 a {
        width:100%;
        text-align: space-between; 
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .my-links, .my-links p {
        margin: 0 20px 0 20px;
    }

    footer div {
        text-align: center;
        width: 100%;
    }

    .flex-row {
        width: 80%;
    }

    .project {
        flex: 0 70%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    footer p {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .flex-row {
        width: 95%;
    }

    .project {
        flex: 0 100%;
    }

    .my-info {
        align-items: center;
    }

    .my-info > * {
        flex: 0 100%;
    }
}